venv-apply
*.pyc
*.swp
ez_setup
devdata.db
virtualenv-apply
devdata.db*
data
build
dist
apply/public/photos/*.jpg
doc/build
*.egg
apply.egg-info
somedb.db
apply/templates/usr
tw2.tipster.egg-info
development-deps
